html, body,#container,.app-container,.dashboard {
	height: 100%;
	margin: 0;
	padding: 0;
}

.app-container {
	display:flex;
	flex-direction: row;
	align-items: stretch;

}

.brand-logo{
	height: 100%;
}
.map-container{
	display:flex;
	align-items: stretch;
	flex:3;
}

.feed-container{
	display:flex;
	flex-direction: column;
	flex:1;
	border-width: 0 1px 0 0;
	border-color: #434343;
	border-style: solid;
}

.tech-lists-container{
	display:flex;
	flex-direction:row;
	align-self: stretch;
	padding-left:20px;
	padding-right:10px;
}
.tech-lists-container ul {
	flex:1;

	/*text-align: lef;*/
}

.tech-lists-container ul img {
	height: 32px;
	width: 32px;
	margin-right:5px;
}
.tech-lists-container ul li {
	margin-top:10px;
	display:flex;
	align-items: center;
}


.feed{
	flex:1;
	overflow: scroll;
}

.tech-container{
	display: flex;
	flex-direction: column;
	flex:1;
	align-items: center;
}

.separator{
	height:1px;
	background: #434343;
}

#map{
	flex:1;
}
